h2{
    color: blueviolet;
    text-align: center;
    text-decoration: underline;
    
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    box-sizing: border-box;
    
    
}
ul li{
    float: left;
}


ul li a{
    display: inline-block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(221, 240, 240);
}